<div class="panel" v-if="initialized">
	<input id="mergeFilesInput" type="file" multiple v-on:change="selectFiles" />
	<input id="inputMergedImagePath" v-model="mergedImageLocation" />
	<button id="buttonMergeScreenshots" v-if="!mergeProgress" v-on:click="mergeScreenshots">Merge screenshots</button>
	<span id="displayMergeSuccess" v-if="mergeSuccess"> success </span>

	<div v-if="mergeProgress" class="loading-container">
		<div class="loading" v-bind:style="'width:'+mergeProgress+'%'">{{ eta }}</div>
	</div>
</div>
