<div class="panel" v-if="initialized">
	<p class="title1">dof.cfg script</p>

	<div style="display: grid; grid-template-columns: 50% 50%;">
		<div class="label underline"><span> Camera X </span></div>
		<div><input id="inputCameraX" pattern="^-?\d+$" v-model="cameraX" /></div>

		<div class="label underline"><span> Camera Y </span></div>
		<div><input id="inputCameraY" pattern="^-?\d+$" v-model="cameraY" /></div>

		<div class="label underline"><span> Camera Z </span></div>
		<div><input id="inputCameraZ" pattern="^-?\d+$" v-model="cameraZ" /></div>

		<div class="label underline"><span> Target X </span></div>
		<div><input id="inputTargetX" pattern="^-?\d+$" v-model="targetX" /></div>

		<div class="label underline"><span> Target Y </span></div>
		<div><input id="inputTargetY" pattern="^-?\d+$" v-model="targetY" /></div>

		<div class="label underline"><span> Target Z </span></div>
		<div><input id="inputTargetZ" pattern="^-?\d+$" v-model="targetZ" /></div>

		<div class="label underline"><span> DOF Strength </span></div>
		<div><input id="inputDofStrength" pattern="^\d+$" v-model="dofStrength" /></div>

		<div class="label underline"><span> Bind key </span></div>
		<div><input id="inputKeyBind" pattern="^[a-zA-Z]$" v-model="bindKey" /></div>

		<div class="label"><span> Script location </span></div>
		<div><input id="inputScriptLocation" v-model="scriptLocation" v-on:click="selectScriptPath" /></div>
	</div>

	<br />
	<button id="buttonSaveScript" v-on:click="saveScript"> Save file </button>
	<span id="displaySaveScriptPending" v-if="scriptSaved === 'penging'"> loading </span>
	<span id="displaySaveScriptDone" v-if="scriptSaved === true"> Successfully created config file. </span>
</div>
